/* BT Curve Regular */
@font-face {
font-family: 'BT Curve';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://shatranjkekhiladi.github.io/fonts/BTCurve_Rg/BTCurve_Rg.ttf) format('truetype');
}

