/* BT Curve Regular */
@font-face {
font-family: 'BT Curve';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://ui.score-dev.bt.com/fonts/BTCurve_Rg/BTCurve_Rg.ttf) format('truetype');
}

/* BT Curve Regular Italics */
@font-face {
font-family: 'BT Curve';
font-style: italic;
font-weight: 400;
font-display: swap;
src: url(https://ui.score-dev.bt.com/fonts/BTCurve_Rg/BTCurve_It.ttf) format('truetype');
}

/* BT Curve Bold */
@font-face {
font-family: 'BT Curve';
font-style: normal;
font-weight: 700;
font-display: swap;
src: url(https://ui.score-dev.bt.com/fonts/BTCurve_Rg/BTCurve_Bd.ttf) format('truetype');
}

/* BT Curve Bold Italic */
@font-face {
font-family: 'BT Curve';
font-style: italic;
font-weight: 700;
font-display: swap;
src: url(https://ui.score-dev.bt.com/fonts/BTCurve_Rg/BTCurve_BdIt.ttf) format('truetype');
}

/* BT Curve Bold Italic */
@font-face {
font-family: 'BT Group';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://ui.score-dev.bt.com/fonts/BTGroup_Headline_V1/BTGroup_V1.000/App/BTGroup_A_Headline.ttf) format('truetype');
}

